.DS_Store
.gradle/
generated/
.metadata
bin/
bin_test/
frontend/*/node_modules
frontend/*/dist/*
frontend/*/dist
/frontend/5gDemo/dist/
/frontend/model-ui/dist/
/prototype/idmt/pythonExampleProject/venv/
